<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="scada" Icon="account_box" Path="/" />
    <RadzenPanelMenuItem Text="Graphic" Icon="account_box" Path="/graphic" />
    <RadzenPanelMenuItem Text="Home" Icon="home" Path="/home" />
    <RadzenPanelMenuItem Text="counter" Icon="account_box" Path="/counter" />
    <RadzenPanelMenuItem Text="weather" Icon="account_box" Path="/weather" />
</RadzenPanelMenu>
<div class="rz-p-4">
    Sidebar
</div>