@page "/progressbar"

  <link rel="stylesheet" href="StyleSheet.css"/>

<body>
    <div class="container">
        <div class="skill-box">
            <span class="title">HTML1</span>
            <div class="skill-bar">
                <span class="skill-per">
                    <span>90%</span>
                </span>
            </div>
        </div>
    </div>
</body>
@code {

}
